name: Build and deploy Aseprite

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - master

env:
  BUILD_TYPE: Release

jobs:
  check-version:
    name: Check latest Aseprite release
    runs-on: ubuntu-latest
    outputs:
      download_url: ${{ steps.version_info.outputs.download_url }}
      latest_tag: ${{ steps.version_info.outputs.latest_tag }}
      should_build: ${{ steps.should_build.outputs.should_build }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}

    steps:
      - name: Get latest version info
        id: version_info
        run: |
          data=$(curl -sL https://api.github.com/repos/aseprite/aseprite/releases/latest)
          LATEST_TAG=$(echo "${data}" | jq -r '.tag_name')
          DOWNLOAD_URL=$(echo "${data}" | jq -r '.assets[].browser_download_url')
          VERSION_INFO=$(echo "${data}" | jq -r '.body')

          echo "${LATEST_TAG}" > ${LATEST_TAG}.txt

          echo "latest_tag=${LATEST_TAG}" >> $GITHUB_OUTPUT
          echo "download_url=${DOWNLOAD_URL}" >> $GITHUB_OUTPUT
          echo "version_info=${VERSION_INFO}" >> $GITHUB_OUTPUT

      - name: Load version from cache
        id: version_check
        uses: actions/cache@v4
        with:
          path: ${{ steps.version_info.outputs.latest_tag }}.txt
          key: cached_version_${{ steps.version_info.outputs.latest_tag }}

      - name: Should we start new build?
        id: should_build
        run: |
          if [[ "${{ steps.version_check.outputs.cache-hit }}" != "true" ]]; then
            echo "should_build=true" >> $GITHUB_OUTPUT
          else
            echo "should_build=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        id: create_release
        if: steps.should_build.outputs.should_build == 'true'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.version_info.outputs.latest_tag }}
          release_name: Release Aseprite ${{ steps.version_info.outputs.latest_tag }}
          body: |
            ${{ steps.version_info.outputs.version_info }}
          draft: true
          prerelease: false

  build-aseprite:
    name: Build Aseprite
    needs: check-version
    if: needs.check-version.outputs.should_build == 'true'
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ninja (Windows)
        uses: turtlesec-no/get-ninja@v1

      - name: Get Skia from cache
        id: skia-cache
        uses: actions/cache@v4
        with:
          path: skia
          key: skia-windows-cache

      - name: Download Skia if not in cache
        if: steps.skia-cache.outputs.cache-hit != 'true'
        run: |
          curl -o Skia-Windows-Release-X64.zip -L https://github.com/aseprite/skia/releases/download/m81-b607b32047/Skia-Windows-Release-x64.zip
          powershell -Command "Expand-Archive -Path Skia-Windows-Release-X64.zip -DestinationPath skia"

      - name: Download Aseprite source
        run: |
          curl -o Aseprite-source.zip -L ${{ needs.check-version.outputs.download_url }}
          powershell -Command "Expand-Archive -Path Aseprite-source.zip -DestinationPath aseprite"
          mkdir aseprite/build

      - name: Configure MSVC Environment (VS 2022)
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Run CMake
        working-directory: aseprite/build
        run: >
          cmake -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
          -DLAF_BACKEND=skia
          -DSKIA_DIR=../../skia
          -DSKIA_LIBRARY_DIR=../../skia/out/Release-x64
          -G Ninja
          ..

      - name: Build with Ninja
        working-directory: aseprite/build
        run: ninja aseprite

      - name: Clean up build directory
        working-directory: aseprite/build/bin
        run: |
          del gen.exe 2>$null
          del modp_b64_gen.exe 2>$null

      - name: Create portable ini
        working-directory: aseprite/build/bin
        run: echo "# Portable mode" > aseprite.ini

      - name: Create ZIP archive
        working-directory: aseprite/build/bin
        run: |
          7z a Aseprite-${{ needs.check-version.outputs.latest_tag }}-Windows.zip *

      - name: Upload release artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.check-version.outputs.upload_url }}
          asset_path: aseprite/build/bin/Aseprite-${{ needs.check-version.outputs.latest_tag }}-Windows.zip
          asset_name: Aseprite-${{ needs.check-version.outputs.latest_tag }}-Windows.zip
          asset_content_type: application/zip
